section#mesprojets {
  background: rgba(0, 0, 0, 0.881);
  .projet-container {
    width: 90%;
    margin: 0 auto;
    @media screen and (max-width: 1000px) {
      width: 85%;
    }
    .firsttitle {
      padding-top: 50px;
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: whitesmoke;
    }
    .firstline {
      border-bottom: 6px solid rgb(255, 115, 0);
      display: block;
      width: 100px;
      height: 10px;
      margin: 40px auto;
    }
    #projets-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 35px;
      @media screen and (max-width: 1000px) {
        display: block;
        margin: 0 auto;
        margin-left: 35px;
      }
    }
    .projet {
      padding-right: 20px;
      padding-bottom: 20px;
      @media screen and (max-width: 1000px) {
        margin-bottom: 30px;
      }
      &:hover {
        .top {
          background: white;
        }
        .bottom {
          .title {
            color: grey;
          }
          .subtitle {
            color: white;
          }
        }
      }
      .top {
        transition: 0.4s;
        cursor: pointer;
        padding: 10px;
        background: rgb(173, 172, 172);
        width: 95%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      #vb {
        padding-bottom: 7%;
      }

      .bottom {
        width: 95%;
        background: rgba(0, 0, 0, 0.888);
        padding: 10px;
        .title {
          font-size: 1.4rem;
          text-align: center;
          color: rgba(255, 255, 255, 0.801);
          text-transform: uppercase;
          padding-bottom: 5px;
          letter-spacing: 1px;
          @media screen and (max-width: 1300px) {
            font-size: 1.2rem;
          }
          @media screen and (max-width: 1300px) {
            font-size: 1.4rem;
          }
        }
        .subtitle {
          font-size: 1.2rem;
          text-transform: uppercase;
          padding-bottom: 10px;
          letter-spacing: 1px;
          color: gray;
          @media screen and (max-width: 1300px) {
            font-size: 1rem;
          }
          @media screen and (max-width: 1000px) {
            font-size: 1.2rem;
          }
        }

        .line {
          border-bottom: 6px solid rgb(255, 115, 0);
          display: block;
          width: 50px;
        }
        .link {
          display: flex;
          justify-content: space-between;
          ul {
            padding-top: 5px;
            display: flex;
            li {
              padding: 10px 10px 0 0;
              img {
                height: 32px;
                width: 32px;
              }
            }
          }
          .btnGit {
            cursor: pointer;
            background: rgb(255, 115, 0);
            color: rgba(0, 0, 0, 0.888);
            letter-spacing: 2px;
            padding: 10px;
            font-weight: 900;
            font-size: 1.1rem;
            border-radius: 20px;
            border: none;
            margin-right: 10px;
            margin: 10px;
            transition: 0.4s ease-in-out;
            text-transform: uppercase;
            &:hover {
              color: rgb(255, 115, 0);
              background: rgb(48, 47, 47);
              transform: scale(1.05);
            }
            @media screen and (max-width: 1300px) {
              font-size: 0.9rem;
            }
            @media screen and (max-width: 1100px) {
              font-size: 0.8rem;
            }
            @media screen and (max-width: 1000px) {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
