#navbar {
  background: rgb(67, 67, 67);
  display: grid;
  grid-template-columns: 30% 70%;
  height: 80px;
  img {
    margin: auto auto;
    height: 70px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    li {
      color: white;
      text-transform: uppercase;
    }
  }
}
